.preview{
        .button{
            background-color: #4862be;
            border: none;
            height: 40px;
            border: none;
            border-radius: 7px;
            width: 150px;
                }
    button{
        background-color: #4862be;
        border: none;
        color: white;
    }
}